<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Ciclo</label>
  <div class="col-sm-9 btn-group">
    <button type="button" class="btn btn-default" ng-click="ciclo.setCiclo(1)" ng-class="{ active:ciclo.isSet(1) }">Grado</button>
    <button type="button" class="btn btn-default" ng-click="ciclo.setCiclo(2)" ng-class="{ active:ciclo.isSet(2) }">Máster Habilitante</button>
    <button type="button" class="btn btn-default" ng-click="ciclo.setCiclo(3)" ng-class="{ active:ciclo.isSet(3) }">Máster</button>
  </div>
    <p class="help-block col-sm-offset-3 col-sm-9" ng-show="ciclo.isSet(1)">
      Estudios de Grado o estudios de Primer Ciclo, Primer y Segundo Ciclo y sólo Segundo Ciclo anteriores al RDtº 1393/2007
    </p>
    <p class="help-block  col-sm-offset-3 col-sm-9" ng-show="ciclo.isSet(2)">
      Enseñanzas conducentes a Títulos de Másteres Universitarios que habiliten para el ejercicio de actividades profesionales reguladas en España y de Doctorados estructurados en créditos.
    </p>
    <p class="help-block col-sm-offset-3 col-sm-9" ng-show="ciclo.isSet(3)">
      Enseñanzas conducentes a Títulos de Másteres Universitarios no comprendidos en el caso anterior.
    </p>
</div>
